@font-face {
   font-family: "OpenDyslexic";
   /*src: url('OpenDyslexic-Regular.woff') format('woff');*/
}
body {
  font-family: 'OpenDyslexic', Fallback, sans-serif;
}

#cardFace {
  float: left;
  height: 150px;
  width: 300px;
  border-width: thick;
  border-style: outset;
  border-color: #0088dd;
  padding: 10px;
  margin: 50px 50px 50px 0px;
  text-align: center;

}
#cardVerso {
  float: left;
  height: 150px;
  width: 300px;
  border-width: thick;
  border-style: outset;
  border-color: green;
  padding: 10px;
  margin: 50px 50px 50px 0px;
  text-align: center;

}
.card-hide {
    left: -100px !important;
    opacity: 0 !important;
}
#slides_control > div{
  height: 200px;
}
img{
  margin:auto;
  width: 400px;
}
#slides_control {
  position:absolute;
  width: 400px;
  left:50%;
  top:20px;
 margin-left:-200px;
}
