.flashCardMaker {
  background-color: #0088dd;
  /*padding: 100px 100px 100px 100px;
  margin: 100px 100px 100px 100px;*/
}

/*#card {
  height: 100px;
  width: 200px;
  border-width: thick;
  border-style: outset;
  border-color: #0088dd;
  padding: 10px;
  margin: 50px 50px 50px 50px;
  text-align: center;
}*/
#cardFace {
  float: left;
  height: 100px;
  width: 200px;
  border-width: thick;
  border-style: outset;
  border-color: #0088dd;
  padding: 10px;
  margin: 50px 50px 50px 50px;
  text-align: center;

}
#cardVerso {
  float: right;
  height: 100px;
  width: 200px;
  border-width: thick;
  border-style: outset;
  border-color: green;
  padding: 10px;
  margin: 50px 50px 50px 50px;
  text-align: center;

}

/*Ex#1 to make 'click me' yellow
.button.active {
  color: yellow;
}*/
