.flashCardMaker {
  background-color: #0088dd;
  /*padding: 100px 100px 100px 100px;
  margin: 100px 100px 100px 100px;*/
}

#cardFace {
  float: left;
  height: 100px;
  width: 200px;
  border-width: thick;
  border-style: outset;
  border-color: #0088dd;
  padding: 10px;
  margin: 50px 50px 50px 0px;
  text-align: center;

}
#cardVerso {
  float: left;
  height: 100px;
  width: 200px;
  border-width: thick;
  border-style: outset;
  border-color: green;
  padding: 10px;
  margin: 50px 50px 50px 0px;
  text-align: center;

}
.card-hide {
    left: -100px !important;
    opacity: 0 !important;
}
