<div class="Jumbotron" ng-controller="EditController">

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Edit Mode</h1>
      </div>
        <div class="col-xs-12">
          <!-- <h1>DROPDOWN OF DECKS</h1> -->

          <!-- <label>delete a deck
          <select ng-model="selectDeck" ng-options='x.name for x in theDeckArray'></select>
          <button ng-click="deleteDeck(x.name.id)">delete deck</button>
          </label> -->

            <label>select a deck
            <select ng-model="selectDeck" ng-options='x.name for x in theDeckArray'></select>
            <button ng-click="getCards()">Fetch the Cards</button>
            </label>
        </div>

        <div class="col-xs-12">
          <h1>THE CARDS</h1>
          There are {{theCardArray.length}} cards in the deck. They are:
          </div>
          <div class="col-xs-12" ng-repeat="card in theCardArray">

              <div  id="cardFace"> {{ card.front_text }}</div>
              <div  id="cardVerso"> {{ card.back_text }}</div>

              <!-- <input type="text" ng-model="card_front_in" name="name" placeholder="card_front_in" value=""> -->
              <img id="cardFace" class="TextWrap" ng-src="{{card.front_text}}" height='100px'/>
              <button ng-click="deleteCard(card.id)">Delete the Card</button>

          </div>
    </div>
</div>
