<div class="Jumbotron" ng-controller="HomeController">

  <div class="container">
    <div class="row">
        <div class="col-xs-12">

          <h1>Welcome!</h1>

          <h2>The flashCard!</h2>
          <div id="cardFace">cat
            <!-- <ul rn-carousel class="card">

              <li ng-repeat="card in theCardArray">
                <div>{{ card }}</div>
              </li>

              <!- <li>cat</li>
              <li>bat</li>
              <li>slide #3</li> -->
            <!-- </ul> -->
            <!-- cat -->
          </div>

          <!-- <ul rn-carousel class="card">
            <li ng-repeat="card in theCardArray">
              <div>{{ card }}</div>
            </li>
          </ul> -->
          </div>
        </div>
    </div>
</div>
