<div class="Jumbotron" ng-controller="PracticeController">
  <h1>Practice</h1>

    <div>
      <h1>DROPDOWN OF DECKS</h1>
        <label>dropdown of decks
        <select ng-model="selectDeck" ng-options='x.name for x in theDeckArray'></select>
        <button ng-click="getCards()">getDeckOfCards</button>
        </label>
        <!-- <div ng-repeat="x in theDeckArray">
          <p>{{x.name}}</p> -->
    </div>

    <div>
      <h1>THE CARD</h1>
      <button ng-click="reshuffle()">Reshuffle</button>
        <div style="border:solid 1px black; height:80px" ng-repeat="card in theCardArray">
            <p>{{ card.front_text }}</p>
            <p>{{ card.back_text }}</p>
            <button ng-click="flipCard()">Flip</button>
            <button ng-click="discard()">Discard</button>
        </div>
    </div>
    <div>
      <h1>CARD COUNTER</h1>
        <p>card count "x card of x"</p>
        <button ng-click="backCard()">Back</button>
        <button ng-click="nextCard()">Next</button>
    </div>

</div>
