<div class="Jumbotron" ng-controller="PracticeController">
  <h1>Practice Mode</h1>

    <div>
      <h1>DROPDOWN OF DECKS</h1>
        <label>select a deck
        <select ng-model="selectDeck" ng-options='x.name for x in theDeckArray'></select>
        <button ng-click="getCards()">Fetch the Cards</button>
        </label>
    </div>

    <option value="">-- choose a card --</option>
    <label>Card:
        <select ng-model="myCard" ng-options="card.front_text for card in theCardArray"></select>
    </label><br/>

    Currently selected: {{ {selected_card: myCard} }}

          <div id="card" >
            {{myCard.front_text}}
          </div>

          <button ng-click="verso=!verso">Verso!</button>

          <div id="card">
            <span ng-show="verso">{{myCard.back_text}}</span>
            <span ng-hide="verso"></span>
          </div>


    <div>
      <h1>THE CARDS</h1>
      There are {{theCardArray.length}} cards in the deck. They are:
      <div ng-repeat="card in theCardArray">

          <div  id="card"> {{ card.front_text }}</div>
          <div  id="card"> {{ card.back_text }}</div>

           <!-- <div id="card"> {{ card.front_text }}</div>
           <div id="card"> {{ card.back_text }}</div> -->
      </div>
    </div>

</div> <!--end to PracticeController div
